.footer__o-nama {
  background-image: url(../materijali/img/zaiskri-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 3;
  position: sticky;
}

.footer__o-nama.nastavni-footer {
  margin-top: 25.34rem;
  z-index: 4;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer__o-nama__text {
  text-align: center;
}

.footer__o-nama__text p {
  margin: 0;
  font-weight: bold;
  font-size: 50px;
}



@media only screen and (max-width: 1450px) {
.footer__o-nama{

  position: fixed;
  bottom: 0;
  width:100%;
 height:100px
}}