

.navbar {
  font-family: 'Courgette', cursive;
  font-family: 'DM Serif Display', serif;
  font-weight: 300;
  letter-spacing: 0.5px;
}



.navbar {
  z-index: 2;
}

#anchors li a {
  color: gold !important;
  animation-name: bounceInRight;
  animation-duration: 2s;
  font-weight: 700;
}

.black {
  background-color: #000;
}

.nav-link {
  margin-right: 1rem;
}

.nav-link__text {
  color: white !important;
  font-weight: 800;
  font-size: 15px;
}

.navbar-nav > a:hover,
.active {
  color: gold !important;
}

.fa {
  padding-right: 5px !important;
  color: gold !important;
}

@keyframes bounceInRight {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  60% {
    opacity: 1;
    transform: translateX(-30px);
  }

  100% {
    transform: translateX(0);
  }
}
